@model ZhiJun.Models.Message

@{
    ViewBag.Title = "About";
}

<div class="custom_content custom">
    <div class="container large">
        <div class="row">
            <div class="col-xs-12 col-sm-8 custom_right">
                <div class="single_content_left">
                    <h3>真诚回答您的问题</h3>
                    <div class="contact_form">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h4>消息</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                @Html.LabelFor(model => model.SenderName, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.SenderName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SenderName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        
                            <div class="form-group">
                                @Html.LabelFor(model => model.SenderEmail, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.SenderEmail, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SenderEmail, "", new { @class = "text-danger" })
                                </div>
                            </div>

                         
                            <div class="form-group">
                                @Html.LabelFor(model => model.MessageBody, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.TextAreaFor(model => model.MessageBody,10, 60, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.MessageBody, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="发送" class="btn btn-info btn-lg" />
                                </div>
                            </div>
                        </div>
                    }
                    </div>
                </div><!--end single content left-->
            </div>

            <div class="col-xs-12 col-sm-4 custom_left">
                <div class="sidebar">
                    <div class="list_block sidebar_item">
                        <h3>联系方式</h3>
                        <ul class="contact_info">
                            <li><i class="fa fa-home"></i>天津市南开区迎水道7号科研办公楼1号楼3楼309</li>
                            <li><i class="fa fa-envelope"></i> <a href="mailto:zhijunedu@163.com">zhijunedu@163.com</a></li>
                            <li><i class="fa fa-phone"></i> 宋老师： 022-60920139</li>
                            <li><i class="fa fa-qq"></i> 917927638， 281013109</li>
                        </ul>
                    </div>
                    <div class="list_block">
                        <h3>办公时间</h3>
                        <ul class="contact_info">
                            <li><strong>周一到周五:</strong> 8点到18点</li>
                            <li><strong>周六:</strong> 8点到13点</li>
                            <li><strong>周日:</strong> 休息</li>
                        </ul>
                    </div><!--end sidebar item-->
                   
                </div><!--end sidebar-->
            </div>
        </div><!--end row-->
    </div>
</div><!--end custom content-->