@model ZhiJun.Models.Apply
@{
    ViewBag.Title = "申请";
}


<div class="custom_content custom">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-8 custom_right">
                <div class="single_content_left">
                    <h3>网上报名</h3>
                    <p>48小时之内主动联系您</p>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
             
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.DropDownList("Gender", null, htmlAttributes: new { @class = "form-control" })

                                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Birthday, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                    @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.UniverstiyName, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.UniverstiyName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.UniverstiyName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ProgrammeName, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.ProgrammeName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ProgrammeName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="提交" class="btn btn-info btn-lg" />
                                </div>
                            </div>
                        </div>
                    }


                    @*<form action="#" method="post" class="apply_from">
                        <h4></h4>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4">
                                    <div class="label">姓名 <span class="error">*</span></div>
                                </div>
                                <div class="col-xs-12 col-sm-8">
                                    <div class="text-field">
                                        <input type="text" class="form-control" name="sfname">
                                    </div>
                                </div>
                            </div>
                        </div><!--end form group-->
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4">
                                    <div class="label">性别 <span class="error">*</span></div>
                                </div>
                                <div class="col-xs-12 col-sm-8">
                                    <div class="text-field">
                                        <select name="guiest_id2" class="option-select">
                                            <option value="0">选择</option>
                                            <option value="1">男</option>
                                            <option value="2">女</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div><!--end form group-->
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4">
                                    <div class="label">生日  <span class="error">*</span></div>
                                </div>
                                <div class="col-xs-12 col-sm-8">
                                    <div class="text-field">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-4 select-year">
                                                <select name="year" class="option-select">
                                                    <option selected="selected" value="">年</option>
                                                    <option value="1970">1970</option>
                                                    <option value="1997">1971</option>
                                                    <option value="1998">1972</option>
                                                    <option value="1999">1973</option>
                                                    <option value="2000">1974</option>
                                                    <option value="2001">1975</option>
                                                    <option value="2002">1976</option>
                                                    <option value="2003">1977</option>
                                                    <option value="2004">1978</option>
                                                    <option value="2005">1979</option>
                                                    <option value="2006">1980</option>
                                                    <option value="2007">1981</option>
                                                    <option value="2008">1982</option>
                                                    <option value="2009">1983</option>
                                                    <option value="2010">1984</option>
                                                    <option value="2011">1985</option>
                                                    <option value="2012">1986</option>
                                                    <option value="2013">1987</option>
                                                    <option value="2014">1988</option>
                                                    <option value="2015">1989</option>
                                                    <option value="2015">1990</option>
                                                    <option value="2015">1991</option>
                                                    <option value="2015">1992</option>
                                                    <option value="2015">1993</option>
                                                    <option value="2015">1994</option>
                                                    <option value="2015">1995</option>
                                                    <option value="2015">1996</option>
                                                    <option value="2015">1998</option>
                                                    <option value="2015">1999</option>
                                                    <option value="2015">2000</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-6 col-sm-4">
                                                <select name="month" class="option-select">
                                                    <option value="">月</option>
                                                    <option value="1">1月</option>
                                                    <option value="2">2月</option>
                                                    <option value="3">3月</option>
                                                    <option value="4">4月</option>
                                                    <option value="5">5月</option>
                                                    <option value="6">6月</option>
                                                    <option value="7">7月</option>
                                                    <option value="8">8月</option>
                                                    <option value="9">9月</option>
                                                    <option value="10">10月</option>
                                                    <option value="11">11月</option>
                                                    <option value="12">12月</option>

                                                </select>
                                            </div>
                                            <div class="col-xs-6 col-sm-4">
                                                <select name="day" class="option-select">
                                                    <option selected="selected" value="">天</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                    <option value="11">11</option>
                                                    <option value="12">12</option>
                                                    <option value="13">13</option>
                                                    <option value="14">14</option>
                                                    <option value="15">15</option>
                                                    <option value="16">16</option>
                                                    <option value="17">17</option>
                                                    <option value="18">18</option>
                                                    <option value="19">19</option>
                                                    <option value="20">20</option>
                                                    <option value="21">21</option>
                                                    <option value="22">22</option>
                                                    <option value="23">23</option>
                                                    <option value="24">24</option>
                                                    <option value="25">25</option>
                                                    <option value="26">26</option>
                                                    <option value="27">27</option>
                                                    <option value="28">28</option>
                                                    <option value="29">29</option>
                                                    <option value="30">30</option>
                                                    <option value="31">31</option>
                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--end form group-->
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4">
                                    <div class="label">地址<span class="error">*</span></div>
                                </div>
                                <div class="col-xs-12 col-sm-8">
                                    <div class="text-field">
                                        <input type="text" class="form-control" name="home-add">
                                    </div>
                                </div>
                            </div>
                        </div><!--end form group-->

                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4">
                                    <div class="label">电话<span class="error">*</span></div>
                                </div>
                                <div class="col-xs-12 col-sm-8">
                                    <div class="text-field">
                                        <input type="text" class="form-control" name="home-phone">
                                    </div>
                                </div>
                            </div>
                        </div><!--end form group-->


                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4">
                                    <div class="label">邮箱<span class="error">*</span></div>
                                </div>
                                <div class="col-xs-12 col-sm-8">
                                    <div class="text-field">
                                        <input type="text" class="form-control" name="email">
                                    </div>
                                </div>
                            </div>
                        </div><!--end form group-->
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4">
                                    <div class="label">申请学校<span class="error">*</span></div>
                                </div>
                                <div class="col-xs-12 col-sm-8">
                                    <div class="text-field">
                                        <input type="text" class="form-control" name="school-name">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4">
                                    <div class="label">申请专业<span class="error">*</span></div>
                                </div>
                                <div class="col-xs-12 col-sm-8">
                                    <div class="text-field">
                                        <input type="text" class="form-control" name="profession-name">
                                    </div>
                                </div>
                            </div>
                        </div><!--end form group-->
                <input type="submit" value="提交" class="commonBtn">
                </form>*@
            </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 custom_left">
                <div class="sidebar">
                    <div class="sidebar_item">
                        <div class="item_inner question">
                            <h4>有问题?</h4>
                            <h5>请联系:</h5>
                            <h6>宋老师</h6>
                            <p>电话： 022-60920139</p>
                        </div>
                    </div><!--end sidebar item-->


                </div><!--end sidebar-->
            </div>
            @*<div class="col-xs-12 col-sm-4 col-md-4 custom_left">
                <div class="sidebar">
                    <div class="sidebar_item admission">
                        <div class="item_inner program">
                            <ul>
                                <li><a href="about.html">招生简章</a></li>
                                <li><a href="buying-steps.html">招生专业</a></li>
                                <li><a href="course-fullwidth.html">招生对象</a></li>
                                <li><a href="course-fullwidth.html">报考流程</a></li>
                                <li><a href="course-fullwidth.html">来校路线</a></li>

                            </ul>
                        </div>
                    </div><!--end sidebar item-->               
                </div><!--end sidebar-->
            </div>*@
        </div><!--end row-->
    </div>
</div><!--end custom content-->

@section scripts{

<script>
    $('.datepicker').datepicker({
        language: 'zh-CN'
    });
</script>

}