@{
    ViewBag.Title = "首页";
}

<div class="banner carousel slide" id="recommended-item-carousel" data-ride="carousel">
    <div class="slides carousel-inner">
        <div class="item active">
            <img src="img/home/slider/slider_image_1.jpg" alt="" />
            <div class="banner_caption">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="caption_inner animated fadeInUp">
                                <h1>成人高考介绍: 专升本/高升本/高起专</h1>
                                <p>成人高考报名条件：须具有普通高中,中专或职高等中等学历教育毕业证书；专科起点本科学生应具有国民教育系列大专(含高职)或大专以上学历教育毕业证书</p>
                                @Html.ActionLink("了解更多", "ChengRenGaoKao")
                            </div><!--end caption_inner-->
                        </div>
                    </div><!--end row-->
                </div><!--end container-->
            </div><!--end banner_caption-->
        </div>
        <div class="item">
            <img src="img/home/slider/slider_image_2.jpg" alt="" />
            <div class="banner_caption">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="caption_inner animated fadeInUp">
                                <h1>名校学历.你也可以拥有</h1>
                                <p>轻松简单填写个人意愿和信息. 网络报名限时优惠300</p>
                                @Html.ActionLink("网络报名", "Apply")
                            </div><!--end caption_inner-->
                        </div>
                    </div><!--end row-->
                </div><!--end container-->
            </div><!--end banner_caption-->
        </div>
        <div class="item">
            <img src="img/home/slider/slider_image_3.jpg" alt="" />
            <div class="banner_caption">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="caption_inner animated fadeInUp">
                                <h1>天津市高等教育，自学考试</h1>
                                <p>从报名，毕业到申请学位详细流程</p>
                                @Html.ActionLink("了解更多", "ZiKao")
                            </div><!--end caption_inner-->
                        </div>
                    </div><!--end row-->
                </div><!--end container-->
            </div><!--end banner_caption-->
        </div>
        @*<div class="item">
        <img src="img/home/slider/slider_image_4.jpg" alt="" />
        <div class="banner_caption">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="caption_inner animated fadeInUp">
                            <h1>网络报名</h1>
                            <p>轻松简单填写个人意愿和信息，我们会帮助您选择申请合适专业，全程免费。</p>
                            <a href="course-fullwidth.html">现在报名</a>
                        </div><!--end caption_inner-->
                    </div>
                </div><!--end row-->
            </div><!--end container-->
        </div><!--end banner_caption-->
    </div>*@
    </div>
    <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
        <img src="img/home/slider/prev.png">
    </a>
    <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
        <img src="img/home/slider//next.png">
    </a>
</div><!--end banner-->

@*<div class="aboutArea">
    <div class="container">
        <div class="row clearfix">
            <div class="col-xs-12">
                <div class="aboutTitle">
                    <h2>推荐课程</h2>
                </div><!-- aboutTitle -->
            </div><!-- col-sm-3 col-xs-12 -->
        </div><!-- row clearfix -->

        <div class="about_inner clearfix">
            <div class="row">
                <div class="col-xs-6 col-sm-3">
                    <div class="aboutImage">
                        <a href="single-course-right-sidebar.html">
                            <img src="img/home/learn/learn_1.jpg" alt="" class="img-responsive" />
                            <div class="overlay">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur ante volutpat sem aliquam lobortis.</p>
                            </div>
                            <span class="captionLink">English Literature<span></span></span>
                        </a>
                    </div><!-- aboutImage -->
                </div>

                <div class="col-xs-6 col-sm-3">
                    <div class="aboutImage">
                        <a href="single-course-right-sidebar.html">
                            <img src="img/home/learn/learn_2.jpg" alt="" class="img-responsive" />
                            <div class="overlay">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur ante volutpat sem aliquam lobortis.</p>
                            </div>
                            <span class="captionLink">Business Administration<span></span></span>
                        </a>
                    </div><!-- aboutImage -->
                </div>

                <div class="col-xs-6 col-sm-3">
                    <div class="aboutImage">
                        <a href="single-course-right-sidebar.html">
                            <img src="img/home/learn/learn_3.jpg" alt="" class="img-responsive" />
                            <div class="overlay">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur ante volutpat sem aliquam lobortis.</p>
                            </div>
                            <span class="captionLink">Computer Science<span></span></span>
                        </a>
                    </div><!-- aboutImage -->
                </div>

                <div class="col-xs-6 col-sm-3">
                    <div class="aboutImage">
                        <a href="single-course-right-sidebar.html">
                            <img src="img/home/learn/learn_4.jpg" alt="" class="img-responsive" />
                            <div class="overlay">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur ante volutpat sem aliquam lobortis.</p>
                            </div>
                            <span class="captionLink">Mathematics<span></span></span>
                        </a>
                    </div><!-- aboutImage -->
                </div>
            </div><!-- row -->
        </div><!-- about_inner -->

    </div><!-- container -->
</div><!-- aboutArea -->*@

<div class="mainContent clearfix">
    <div class="container">
        <div class="row clearfix">

            <div class="col-sm-8 col-xs-12">
                <div class="videoNine clearfix">

                    @*<div class="videoArea clearfix">
                        <h3>Welcome To Royal College</h3>
                        <div class="row">
                            <div class="col-lg-8 col-md-7 col-xs-12 videoLeft">
                                <img src="img/home/video_image.jpg" data-video="https://www.youtube.com/embed/oOMcZoeEK0A?autoplay=1">
                            </div><!-- videoLeft -->
                            <div class="col-lg-4 col-md-5 col-xs-12 videoRight">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur ante volutpat sem aliquam lobortis. Mauris porta fermentum volutpat. Praesent est sapien, tincidunt vel arcu vitae, mattis sollicitudin lectus. Mauris porta fermentum volutpat. Praesent est sapien, tincidunt vel arcu vitae, mattis sollicitudin lectus.</p>
                                <a href="about.html" class="btn btn-block learnBtn">Learn More</a>
                            </div><!-- videoRight -->
                        </div><!-- row -->
                    </div><!-- videoArea -->*@

                    @Html.Partial("_LatestNews", ViewData["Latest10New"]);<!--related_post_sec-->

                </div><!--videoNine-->
            </div><!-- col-sm-8 col-xs-12 -->

            <div class="col-sm-4 col-xs-12">
                @*<div class="formArea clearfix">
                    <div class="formTitle">
                        <h3>Find a Course</h3>
                        <p>Offered in small class sizes with great emphasis on the demands of the specification and exam technique.</p>
                    </div><!-- formTitle -->
                    <form action="#" method="post">
                        <div class="selectBox clearfix">
                            <select name="guiest_id1" id="guiest_id1">
                                <option value="0">Location</option>
                                <option value="1">Location_1</option>
                                <option value="2">Location_2</option>
                                <option value="3">Location_3</option>
                            </select>
                        </div><!-- selectBox -->
                        <div class="selectBox clearfix">
                            <select name="guiest_id2" id="guiest_id2">
                                <option value="0">Level</option>
                                <option value="1">Level_1</option>
                                <option value="2">Level_2</option>
                                <option value="3">Level_3</option>
                            </select>
                        </div><!-- selectBox -->
                        <div class="form-group">
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Course Name">
                        </div>
                        <button type="submit" class="btn btn-default btn-block commonBtn">Search</button>
                    </form>
                </div><!-- formArea -->*@

            @Html.Partial("_LatestEvent", ViewData["Latest10Event"])
            <!-- end list_block -->
            </div><!-- col-sm-4 col-xs-12 -->

        </div><!-- row clearfix -->
    </div><!-- container -->
</div><!-- mainContent -->

<div class="count clearfix wow fadeIn" data-wow-delay="100ms">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <div class="text-center">
                    <div class="icon"><i class="fa fa-group"></i></div>
                    <div class="counter">
                        <span class="timer">8298</span>
                    </div>
                    <div class="seperator-small"></div>
                    <p>学生</p>
                </div>
            </div><!-- col-sm-3 -->
            <div class="col-xs-6 col-sm-3">
                <div class="text-center">
                    <div class="icon"><i class="fa fa-book"></i></div>
                    <div class="counter">
                        <span class="timer">142</span>
                    </div>
                    <div class="seperator-small"></div>
                    <p>课程</p>
                </div>
            </div><!-- col-sm-3 -->
            <div class="col-xs-6 col-sm-3">
                <div class="text-center">
                    <div class="icon"><i class="fa fa-male"></i></div>
                    <div class="counter">
                        <span class="timer">1047</span>
                    </div>
                    <div class="seperator-small"></div>
                    <p>申请中</p>
                </div>
            </div><!-- col-sm-3 -->
            <div class="col-xs-6 col-sm-3">
                <div class="text-center">
                    <div class="icon"><i class="fa fa-map-marker"></i></div>
                    <div class="counter">
                        <span class="timer">10</span>
                    </div>
                    <div class="seperator-small"></div>
                    <p>学校</p>
                </div>
            </div><!-- col-sm-3 -->
        </div><!-- row -->
     
    </div><!-- container -->
</div><!-- count -->

<div class="testimonial-section clearfix">
    <div class="container">
        <div class="row">
            @*<div class="col-xs-12 col-sm-6">
                <div class="testimonial">
                    <div class="carousal_content">
                        <p>感谢您感谢您感谢您感谢您感谢您感谢您感谢您感谢您感谢您感谢您</p>
                    </div>
                    <div class="carousal_bottom">
                        <div class="thumb">
                            <img src="img/about/SARA-LISBON_Art-Student.jpg" alt="" draggable="false">
                        </div>
                        <div class="thumb_title">
                            <span class="author_name">宋小宏</span>
                            <span class="author_designation">学生<a href="#"> 小学专业</a></span>
                        </div>
                    </div>
                </div><!-- testimonial -->
            </div><!-- col-xs-12 -->*@
            <div class="col-xs-12 col-sm-12">
                <div class="features">
                    <h3>为什么选择我们?</h3>
                    <p>天津智骏教育咨询有限公司是成立于2006年，是教育培训的权威机构。分为高中部，学历部和职业资格部三个部门。为适应国家教育改革及社会发展的需求，我中心凭借雄厚的实力，依托各大院校强大的教育资源，进行了优势资源整合运用。目前有15所合作院校，其中有南开大学，天津大学，北京大学，天津商业大学，天津理工大学等知名大学，现有四十多个专、本科的招生授权，专注学历教育及职业资格培训取证。学院宗旨：诚实待人，诚信做事，专注于教育品质！秉承“智学千里，骏驰天下”校训。祝您敲开事业的大门，为您增添生命的色彩！</p>

                    <ul>
                        <li><i class="fa fa-check-circle-o"></i>优势资源整合</li>
                        <li><i class="fa fa-check-circle-o"></i>专注学历教育</li>
                        <li><i class="fa fa-check-circle-o"></i>诚实待人，诚信做事</li>
                    </ul>
                </div>
            </div><!-- col-xs-12 -->
        </div><!-- row -->
    </div><!-- container -->
</div><!-- testimonial-section -->
