<div class="container">
    <div class="row clearfix">

        <div class="col-sm-3 col-xs-6">
            <ul class="menuLink clearfix">
                <li>@Html.ActionLink("联系我们", "About")</li>

            </ul>
        </div><!-- col-sm-3 col-xs-6 -->

        <div class="col-sm-3 col-xs-6 borderLeft clearfix">
            <ul class="menuLink clearfix">
                <li>@Html.ActionLink("成人高考", "ChengRenGaoKao")</li>
                <li>@Html.ActionLink("自考学院", "ZiKao")</li>
                <li>@Html.ActionLink("网络教育", "DianDaDaXueJieShao")</li>
                <li>@Html.ActionLink("国家开放大学", "KaiFangDaXueJieShao")</li>
            </ul>
        </div><!-- col-sm-3 col-xs-6 -->

        <div class="col-sm-3 col-xs-6 borderLeft clearfix">
            <div class="footer-address">
                <h5>地址:</h5>
                <address>
                    天津市南开区迎水道7号科研办公楼1号楼3楼309室
                </address>
                <address>
                    电话：022-60920139 宋老师  
                </address>
            </div>
        </div><!-- col-sm-3 col-xs-6 -->

        <div class="col-sm-3 col-xs-6 borderLeft clearfix">
            <div class="socialArea clearfix">
                <h5><i class="fa fa-qq"></i>QQ 联系:</h5>
                <ul>
                    <li>917927638</i>
                    <li>281013109</li>
                </ul>
            </div><!-- social -->
            <div class="contactNo clearfix">
                <h5>联系我们:宋老师 </h5>
                <h3>022-60920139</h3>
            </div><!-- contactNo -->
        </div><!-- col-sm-3 col-xs-6 -->

    </div><!-- row clearfix -->
</div><!-- container -->
