@model IEnumerable<ZhiJun.Models.Message>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>列表</h2>

<p>
    @Html.ActionLink("创建", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MessageBody)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SenderEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SenderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SenderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Processed)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MessageBody)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SenderEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SenderName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SenderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Processed)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.Id }) |
            @Html.ActionLink("详细", "Details", new { id=item.Id }) |
            @Html.ActionLink("删除", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
